<br/><br/><br/><br/>
	
<!-- Page Content -->
<div class="container" id="pic">

	<div style="background-color: lightgray; width:200px; height:100px;"></div>

	<!-- <hr/>	
	<div class="logo2">
		<img src="img/image.jpg">
	</div>	
	<hr/>	
	<div class="image-full">
	</div> -->
	
	<hr/>
	
	<img class="cropImg shadowImg" src="img/image.jpg">
	
	<div style="background-color: lightgray; width:200px; height:100px;"></div>
	
	<hr/>
	
	<img class="logo3" src="img/image.jpg">
	
	<hr/>
	
	<div class='logo' style='background:url(img/image.jpg)'></div>
	
</div>